<h1>Welcome to BruBudget!</h1>


<h3>Here are your Costs:</h3>
<ul style="list-style-type: none;"><% @costs.each do |cost| %>
	<li><strong><%= link_to cost.name, user_cost_path(current_user, cost) %></strong>
	<p><strong>Cost:</strong> <%= cost.price %> R </li>
	<%= cost.created_at.strftime("Posted on: %B %d, %Y at %H:%M") %></p></li>



<% end %>
</ul>

<p>
	<%= link_to 'Create a new Cost', new_user_cost_path(current_user) %>
</p>

